//tm
$tm-global-color: #161615;
$tm-g-primary-color: #ffd66f;
$tm-g-secondary-color: #33b7b7;
$tm-f-primary: "Epilogue", Arial, sans-serif;
$tm-f-secondary: "Merriweather", Arial, serif;

$global-font-family: $tm-f-secondary;

$base-h1-font-size-m: 75px;
$base-h2-font-size-m: 50px;
$base-h3-font-size-m: 30px;

$base-h1-font-size: 50px;
$base-h2-font-size: 40px;
$base-h3-font-size: 30px;
$base-h4-font-size: 16px;
$base-h1-line-height: 1.1;
$base-h2-line-height: 1.1;
$base-h3-line-height: 1.1;
$base-heading-font-family: $tm-f-primary;
$base-heading-font-weight: 600;
$base-heading-color: #000;

$base-selection-background: rgba(#33b7b7, 0.8);
$base-selection-color: #fff;

// tm-theme, c-color(entita), g-global
:root {
    --tm-c-g: #{$tm-global-color};
    --tm-c-g-p: #{$tm-g-primary-color};
    --tm-c-g-s: #{$tm-g-secondary-color};
    --text: #{$tm-global-color};
    --text-link: #{$tm-g-secondary-color};
}
