@font-face {
    font-family: "Merriweather-fallback";
    size-adjust: 122.81%;
    src: local("Times New Roman");
}

@font-face {
    font-family: "Epilogue-fallback";
    size-adjust: 110.87%;
    src: local("Arial");
}

//tm
$tm-global-color: #000;
$tm-g-primary-color: #fdcd56;
$tm-g-secondary-color: #37aaa9;
$tm-font-primary: "Epilogue", "Epilogue-fallback", sans-serif;
$tm-font-secondary: "Merriweather", "Merriweather-fallback", serif;

$tm-section-padding-top: 30px;
$tm-section-padding-bottom: 50px;

$global-font-family: $tm-font-secondary;

$base-h1-font-size-m: 75px;
$base-h2-font-size-m: 50px;
$base-h3-font-size-m: 30px;

$base-h1-font-size: 50px;
$base-h2-font-size: 40px;
$base-h3-font-size: 30px;
$base-h4-font-size: 16px;
$base-h1-line-height: 1.1;
$base-h2-line-height: 1.2;
$base-h3-line-height: 1.2;
$base-heading-font-family: $tm-font-primary;
$base-heading-font-weight: 600;
$base-heading-color: #000;
$base-selection-background: rgba(#33b7b7, 0.8);
$base-selection-color: #fff;

$container-max-width: 1250px;
$container-padding-horizontal: 15px;
$container-padding-horizontal-s: 20px;
$container-padding-horizontal-m: 20px;

$navbar-nav-item-height: 40px;

// tm-theme, c-color(entita), g-global
:root {
    --tm-c-g: #{$tm-global-color};
    --tm-c-g-p: #{$tm-g-primary-color};
    --tm-c-g-s: #{$tm-g-secondary-color};
    --text: #{$tm-global-color};
    --text-link: #{$tm-g-secondary-color};
    --button: #{$tm-global-color};
}
