.article {
    &-label {
        font: 600 19px/1.5 $tm-global-font-serif;
        background: var(--tm-c-g-s);
        color: #fff;
        display: inline-block;
        padding: 6px 20px;
        box-sizing: border-box;
    }
    &-label-info {
        font: 600 19px/1.5 $tm-global-font;
        background: transparent;
        color: #000;
        display: inline-block;
        padding: 6px 20px;
        box-sizing: border-box;
    }
}

.article-short {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    text-decoration: none;
    position: relative;

    &:hover {
        text-decoration: none;
        color: $tm-global-color;

        &-link-ext {
            color: $tm-g-secondary-color;
        }
    }

    & > :last-child {
        margin-bottom: 0 !important; // sass-lint:disable-line no-important
    }

    &--document {
        .article-short-info {
            display: block;

            &::after {
                display: none;
            }
        }
    }

    &-img {
        margin: 0 0 20px;
        position: relative;
    }

    &-label {
        position: absolute;
        font: 600 16px/1.5 $tm-global-font-serif;
        background: var(--tm-c-g-s);
        color: #fff;
        display: inline-block;
        padding: 6px 20px;
        box-sizing: border-box;
    }

    &-head {
        margin: 0 0 15px;
    }

    &-desc {
        margin: 0 0 20px;
        font-size: 16px;

        & > :last-child {
            margin-bottom: 0 !important; // sass-lint:disable-line no-important
        }
    }

    &-link-ext {
        text-decoration: none;
        color: $tm-global-color;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1
        }

        &:hover,
        &:focus-visible {
            text-decoration: none;
            color: $tm-g-secondary-color;
        }
    }
    &-link {
        position: relative;
        z-index: 2
    }

    &-info {
        font-weight: 600;

        &::after {
            content: "\2014";
            display: inline-block;
            margin: 0 5px;
        }
    }
    @media (min-width: $breakpoint-medium) {
        &--h {
            flex-direction: row;

            .article-short-img {
                margin: 0;
                padding-right: 20px;
                flex-shrink: 0;
                max-width: 400px;
            }
        }
    }
}

.contact-short {
    display: flex;
    align-items: flex-start;

    &--secondary {
        .contact-short-img {
            img {
                background-color: var(--tm-c-g-s);
            }
        }
        .contact-short-img-empty {
            background-color: var(--tm-c-g-s);
        }
    }

    &-img {
        max-width: 39%;
        flex-shrink: 0;

        img {
            background-color: var(--tm-c-g-p);
        }

        &-empty {
            max-width: 100%;
            width: 140px;
            height: auto;
            aspect-ratio: auto 140 / 180;
            margin: auto;
            background-color: var(--tm-c-g-p);
        }
    }

    &-content {
        & > :last-child {
            margin-bottom: 0 !important; // sass-lint:disable-line no-important
        }
    }

    &-head {
        margin: 0 0 10px;
    }

    &-content {
        padding-left: 20px;
        width: 100%;
    }

    &-link {
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;

        a {
            color: var(--text);
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .t-icon {
        color: var(--tm-c-g-s);
        margin-right: 5px;
    }

    @media (min-width: $breakpoint-large) {
        &-content {
            padding-left: 30px;
        }
    }
}
