html {
    font-family: $tm-font-secondary;
    color: #000;
}

body {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -webkit-tap-highlight-color: transparent; // sass-lint:disable-line no-vendor-prefixes
    scroll-behavior: smooth;
}

a {
    color: var(--text-link);
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

h3,
.t-h3 {
    font-size: 25px;
    font-weight: 900;

    @media (min-width: $breakpoint-large) {
        font-size: 30px
    }
}

code {
    color: #dc143c;
    font-size: 105%;
    background-color: rgba(222, 222, 222, 0.3);
    padding-left: 4px;
    padding-right: 4px;
}
