button,
.t-button {
    margin: 0;
    border: 2px solid var(--button);
    overflow: visible;
    font-family: $tm-font-primary;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #fff;
      background: var(--button);
    }
    &:active {
      color: #fff;
      background: var(--button);
    }
    &:disabled {
      color: #999;
      border-color: #999;
    }
}
