// .t-h3-second {
//     font-family: $tm-global-font;
//     font-weight: 400;
//     font-size: $base-h3-font-size-m + 2px;
// }

.t-perex {
    font-size: 20px;

    & > :last-child {
       margin-bottom: 0 !important;
    }

    @media (min-width: $breakpoint-medium) {
        font-size: 24px;
    }
}
