.t-h1 {
    font-size: $base-h1-font-size;

    @media (min-width: $breakpoint-medium) {
        font-size: $base-h1-font-size-m;
    }
}

.t-h3-second {
    font-family: $tm-font-secondary;
    font-weight: 400;
    font-size: $base-h3-font-size-m + 2px;
}

.t-perex {
    font-size: 20px;

    @media (min-width: $breakpoint-medium) {
        font-size: 24px;
    }
}
