.t-footer {
    padding-top: 50px;
    padding-bottom: 60px;
    background: var(--tm-c-g-p);

    &-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    &-head {
        font-size: 30px;
    }

    @media (min-width: $breakpoint-medium) {
        &-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
