.t-footer {
    padding-top: 50px;
    padding-bottom: 60px;
    background: var(--tm-c-g-p);
    font-family: $tm-global-font-serif;
    font-weight: 600;

    a {
        color: $tm-g-secondary-color;
        text-decoration: none;

        &:focus-visible,
        &:hover {
            text-decoration: none;
            color: $tm-global-color;
        }
    }

    &-text {
        & > :last-child {
            margin-bottom: 0 !important; // sass-lint:disable-line no-important
        }

        a {
            color: $tm-global-color;

            &:focus-visible,
            &:hover {
                color: $tm-g-secondary-color;

            }
        }
    }

    &-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    &-head {
        font-size: $base-h3-font-size;
        font-weight: 900;
    }

    .t-navbar {
        font-size: 18px;
    }
    @media (min-width: $breakpoint-small) {
        &-grid {
            grid-template-columns: repeat(2, 1fr);

            & > * {
                grid-column: 1fr;
            }
        }
    }
    @media (min-width: $breakpoint-medium) {
        &-grid {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}

.t-footer-bottom {
    padding: 24px;
    font-size: 14px;

    a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            color: inherit;
        }
    }
}
