.t-header {
    padding-top: 38px;
    padding-bottom: 25px;
    background: var(--tm-c-g-p);

    &-grid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-logo {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 15px;
    }

    &-nav {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
    }

    &-nav-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .t-navbar-small {
        button {
            background: none;
            border: none;
            padding-left: 15px;
            padding-right: 15px;

            &:active {
                color: var(--tm-c-g-s);
            }

            &:hover {
                color: var(--tm-c-g-s);
            }
        }
    }
    @media (min-width: $breakpoint-medium) {
        &-logo {
            padding-right: 30px;
        }
    }
}
