.t-navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    font-family: $tm-global-font-serif;

    & > li {
        & > a,
        span {
            color: var(--text);
            font-weight: 600;
            text-decoration: none;
        }

        & > a.is-active,
        &.is-active {
            color: var(--text-link);
        }

        &:focus,
        &:hover {
            color: var(--text-link);
        }
    }

    // horizontal
    &-h {
        flex-direction: row;
        justify-content: flex-end;
        & > li {
            & > a,
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                min-height: 40px;
                padding: 0 13px;
                font-size: 17px;
            }
        }
    }

    // vertical
    &-v {
        flex-direction: column;
    }

    &-small {
        & > li {
            & > a,
            span {
                color: var(--text);
                font-weight: 400;
                text-decoration: none;
                font-size: 16px;
                padding-left: 5px;
                padding-right: 5px;
            }

            & > a.is-active,
            &.is-active {
                color: var(--text);
                font-weight: 900;
            }

            &:focus,
            &:hover {
                color: var(--text);
                text-decoration: underline;
            }
        }
    }

    &-lang {
        margin-top: 20px;
        display: flex;
    }

    @media (max-width: $breakpoint-medium-max) {
        &-h {
            & > li {
                & > a,
                span {
                    padding: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }
}
