/* The Overlay (background) */
.t-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba($tm-g-secondary-color, 0.9);
    overflow: hidden;
    transition: height 0.5s;
    color: var(--text-inverse);

    &.is-active {
        height: 100%;
    }

    &-container {
        position: relative;
        display: flow-root;
        box-sizing: content-box;
        max-width: $container-max-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: $container-padding-horizontal;
        padding-right: $container-padding-horizontal;
        overflow-y: auto;
        max-height: 100vh;
        overscroll-behavior: contain;
    }

    &-content {
        position: relative;
        width: 100%;
        margin-top: 100px;
        box-sizing: border-box;
        padding: 20px;
        display: grid;

        &-center {
            justify-self: center;
        }
    }

    a {
        color: var(--text-inverse);
        fill: var(--text-inverse);
        text-decoration: none;
    }

    .t-close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        line-height: 48px;
        width: 48px;
        text-align: center;
        border: none;
        padding: 0;
        background: none;
        color: var(--text-inverse);
        fill: var(--text-inverse);
    }

    .t-navbar {
      font-size: 22px;

      &-h {
          margin-left: -10px;
          margin-right: -10px;
      }
      li {
          & > a.is-active,
          &.is-active {
              color: var(--text-inverse);
              text-decoration: underline;
          }

          & + li {
              content: "/";
              font-weight: 600;
          }
      }

      & > li > a,
      & > li span {
          color: var(--text-inverse);
      }
    }
    @media (min-width: $breakpoint-small) {
        &-container {
            padding-left: $container-padding-horizontal-s;
            padding-right: $container-padding-horizontal-s;
        }
    }
    @media (min-width: $breakpoint-medium) {
        .t-close-btn {
            right: 20px;
        }
        &-container {
            padding-left: $container-padding-horizontal-m;
            padding-right: $container-padding-horizontal-m;
        }
    }
}
