.pagination {
    text-align: center;
    justify-content: center;

    & > * > * {
        text-decoration-thickness: 1px;
        text-underline-offset: 0.1em;
    }

    .uk-pagination-prev,
    .uk-pagination-next {
        position: relative;
        min-height: 42px;
        min-width: 42px;
        box-sizing: border-box;

        &::before {
            position: absolute;
            color: var(--tm-c-g);
            top: 50%;
            left: 50%;
            content: "";
            height: 15px;
            width: 14px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 585.67 587'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23000%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M0 233.63h442.16v119.72H0z'/%3E%3Cpath class='cls-1' d='m207.51 84.614 84.641-84.64L585.657 293.48l-84.64 84.64z'/%3E%3Cpath class='cls-1' d='m207.51 502.389 293.506-293.506 84.64 84.64L292.15 587.03z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: auto;
            transform: translate(-50%, -50%);
        }

        &:focus-visible,
        &:hover {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 585.67 587'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2333b7b7%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M0 233.63h442.16v119.72H0z'/%3E%3Cpath class='cls-1' d='m207.51 84.614 84.641-84.64L585.657 293.48l-84.64 84.64z'/%3E%3Cpath class='cls-1' d='m207.51 502.389 293.506-293.506 84.64 84.64L292.15 587.03z'/%3E%3C/svg%3E");
            }
        }
    }

    .uk-pagination-prev::before {
        transform: translate(-50%, -50%) rotateZ(180deg);
    }
}
