.t-part {
    &-item {
        position: relative;
    }
    &-img {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
    }
    &-head {

    }
    
    &-link-ext {
        text-decoration: none;
        color: $tm-global-color;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1
        }

        &:hover,
        &:focus-visible {
            text-decoration: none;
            color: $tm-g-secondary-color;
        }
    }
}
