.t-section {
    padding-top: $tm-section-padding-top;
    padding-bottom: $tm-section-padding-bottom;
    position: relative;

    &:not(:last-of-type) {
        &::after {
            content: "";
            border-top: 2px solid #000;
            position: absolute;
            width: 100%;
            max-width: 1250px;
            margin: auto;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    //header
    &-h {
        margin-bottom: 45px;
    }

    //footer
    &-f {
        margin-top: 45px;
    }

    &--header {
        background: var(--tm-c-g-p);
        margin-top: -10px;
        padding-top: 30px;
        padding-bottom: 30px;

        &::after {
            display: none;
        }

        & {
            &-detail {
                padding-top: 0;
            }
        }
    }

    &--content {
        &-img {
            img {
                width: 100%;
                max-width: 315px;
                height: auto;
            }
        }
    }
    &--links {
        .links-list {
            font-size: 22px;
            line-height: 2;

            a {
                color: $tm-global-color;
                text-decoration: none;

                &:hover,
                &:focus-visible {
                    color: $tm-g-secondary-color;
                    text-decoration: none;
                }
            }
        }
    }
    @media (min-width: $breakpoint-small) {
        &-content {
            &-img > * {
                text-align: center;
                margin-top: - ($base-h1-font-size + $tm-section-padding-top * 2 + 15px); // $tm-section-padding-top + vyska zahlavi s h1
            }
        }

        &--header-homepage {
            .t-section-content-img {
                align-self: flex-end;

                & > * {
                    margin-top: auto !important;
                    margin-bottom: -30px;
                }
            }
        }
    }
    @media (min-width: $breakpoint-medium) {
        &-content {
            &-img > * {
                margin-top: - ($base-h1-font-size-m + $tm-section-padding-top * 2 + 15px);
            }
        }
    }
}
