.t-tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;

    & > *:not(.t-tab-header) {
        flex: none;
        padding-left: 5px;
        position: relative;
        font-family: $tm-font-primary;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 20px;
            color: #000;
            font-size: 17px;
            text-decoration: none;

            &:hover, &:focus {
              color: var(--tm-c-g-s)
            }
        }
    }

    & > .t-active a {
      background: var(--tm-c-g-s);
      color: #fff;
    }

    &-header {
      font-size: 16px;
      padding: 9px 20px;
    }
}
