.t-tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    position: relative;

    & > *:not(.t-tab-header) {
        flex: none;
        padding-left: 5px;
        position: relative;
        font-family: $tm-global-font-serif;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 20px;
            color: #000;
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;

            &:focus,
            &:hover {
                color: var(--tm-c-g-s);
            }
        }
    }

    & > .t-active a {
        background: var(--tm-c-g-s);
        color: #fff;
    }

    &-header {
        font-size: 16px;
        padding: 9px 20px;
    }
}
