.js-totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: rgba(#fff, 0.5);
    color: $tm-g-secondary-color;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &:hover,
    &:focus-visible {
        color: $tm-global-color;
    }
}
