html {
    font-family: $tm-global-font;
    color: #000;
    scroll-behavior: smooth;
}

body {
    //-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -webkit-tap-highlight-color: transparent; // sass-lint:disable-line no-vendor-prefixes
    scroll-behavior: smooth;
    position: relative;
    min-width: 320px;
}

a {
    color: var(--text-link);
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: var(--text-link);
        text-decoration: none;
    }
}

h1, .t-h1,
h2, .t-h2,
h3, .t-h3,
h4, .t-h4,
h5, .t-h5,
h6, .t-h6 {
    font-family: $tm-global-font-serif;
    font-weight: 600;
    color: #000;
    text-transform: none;
    margin: 0 0 20px;
}

h1,
.t-h1 {
    font-size: var(--heading-h1);
    line-height: 1.04;
}

h2,
.t-h2 {
    font-size: var(--heading-h2);
    line-height: 1.2;
}

h3,
.t-h3 {
    font-size: var(--heading-h3);
    font-weight: 900;
    line-height: 1.2;
}

h4,
.t-h4 {
    font-size: $tm-global-font-size;
    line-height: $tm-global-line-height;
}

.t-h3-second {
    font-family: $tm-global-font;
    font-weight: 400;
    font-size: calc(var(--heading-h3) + 2px);
}

code {
    color: #dc143c;
    font-size: 105%;
    background-color: rgba(222, 222, 222, 0.3);
    padding-left: 4px;
    padding-right: 4px;
}
