.u-text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }

    &-highlight {
        font-weight: bold;
        background: #dedede;
        color: var(--tm-c-g);

        h3 &, .t-h3 & {
            font-weight: 900;
        }
    }
}
