.u-text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }

    &-highlight {
        font-weight: bold;
        background: #dedede;
        padding: 0 3px;
    }
}
